extends base

block js-includes
    if all
        script(src="/js/jquery-latest.js")
        script(src="/js/jquery.tablesorter.min.js")
        script.
            $(document).ready(function() {
                $("table").tablesorter();
            });

block content
    -
        var page_size = 10
        var max_pages = Math.ceil(data.length / page_size)

    h2= title
    if data.length < 1
        p.error.empty= 'No results found.'
    else
        - var page_entries = all ? data : data.slice(((page || 1) - 1) * page_size, (page || 1) * page_size)
        if page_entries.length < 1
            p.error.empty= 'Nothing found for page ' + page
            a(href='/delegates/' + year + '/' + max_pages) Go to last page
        else
            table(class=all ? 'tablesorter' : '')
                thead
                    tr
                        th.no-order
                        th(colspan=2)
                            a(href='#') Abgeordneter
                        th
                            a(href='#') Partei
                        th
                            a(href='#') Bundesland
                        th
                            a(href='#') Wahlkreis
                tbody
                    each row in page_entries
                        tr
                            td= row.title
                            td= row.lastname
                            td= row.firstname
                            td= row.p_shorthand
                            td= row.fs_name
                            td
                                a(href='/wahlkreise/' + year + '/' + row.wknr)= row.wk_name

            if !all
                if (page || 1) > 1
                    a.pagination(href='/delegates/' + year + '/' + ((page || 1) - 1))
                        i.fa.fa-chevron-left

                span.pagination Seite #{page || 1}
                if (page || 1) < Math.ceil(data.length / page_size)
                    a.pagination(href='/delegates/' + year + '/' + ((page || 1) + 1))
                        i.fa.fa-chevron-right

                a(style="float: right;", href='/delegates/' + year + '/all') Alle anzeigen
