extends base

block content
    h2= title
    if data.length < 1
        p.error.empty= 'No results found.'
    else
        table
            thead
                tr
                    th='Partei'
                    th='Sitze'
            tbody
                each row in data
                    tr
                        td #{row.shorthand} (#{row.name})
                        td= row.seats
