extends base

block js-includes
    script
        != 'var data =' + JSON.stringify(data) + ';'
    script(src='/js/d3.min.js')
    script(src='/js/Sortable.min.js')
    script(src='/js/seat-distribution.js')

block content
    h2= title
    if data.length < 1
        p.error.empty= 'No results found.'
    else
        .pie-chart
        table.seat-distribution
            thead
                tr
                    th(colspan=2)='Partei'
                    th='Sitze'
                    th='Anteil'
            tbody#seats
                - var totalseats = data.map(function (row) { return parseInt(row.seats); }).reduce(function (a, b) { return a + b; }, 0);
                each row in data
                    tr
                        td.handle
                        td #{row.shorthand} (#{row.name})
                        td= row.seats
                        td= Math.round(parseFloat(row.seats) / parseFloat(totalseats) * 1000.0) / 10.0 + ' %'
