extends base

block js-includes
    script(src="/js/jquery-latest.js")
    script(src="/js/jquery.tablesorter.min.js")
    script.
        $(document).ready(function() {
            $(".ueberhangsmandate").tablesorter();
        });


block content
    h2= unescape('%DCberhangsmandate ') + year
    table.ueberhangsmandate.tablesorter
        thead
            tr
                th Partei
                th Bundesland
                th &Uuml;berhangmandate
        tbody
            each uhm in data
                tr
                    td= uhm.p_name + ' (' + uhm.p_shorthand + ')'
                    td= uhm.fs_name
                    td= uhm.mandates
    table
        tbody
            tr.total
                td(colspan=2)
                    em Gesamt
                td= data.reduce(function (i, e) { return i + parseInt(e.mandates); }, 0)
