extends base

block js-includes
    script(src="/js/jquery-latest.js")
    script(src="/js/jquery.tablesorter.min.js")
    script.
        $(document).ready(function() {
            $(".zweitstimmen").tablesorter({sortList:[[1,1],[2,1]]});
        });

block content
    h2= title

    if data.meta && data.meta.length > 0
        dl.general-info
            div
                dt Stimmberechtigt
                dd= data.meta[0].electorate
            div
                dt Stimmen abgegeben
                dd= data.meta[0].voted
            div
                dt Wahlbeteiligung
                dd= Math.round(data.meta[0].participationrate * 100) / 100 + ' %'
    .first
        h3 Sieger nach Erstimmen
        if data.first.length < 1
            p.error.empty= 'No Erststimmen-results found.'
        else
            - var person = data.first[0]
            img(src= personimg || '/img/placeholder.svg')
            dl
                dt Name
                dd= (person.title ? person.title + ' ' : '') + person.firstname + ' ' + person.lastname
                dt Partei
                if person.p_website
                    dd
                        a(href=person.p_website)= person.p_name ? person.p_name + ' (' + person.p_shorthand + ')' : 'Parteilos'
                else
                    dd= person.p_name ? person.p_name + ' (' + person.p_shorthand + ')' : 'Parteilos'
    .second
        h3 Zweitstimmenverteilung
        table.zweitstimmen.tablesorter
            thead
                th Partei
                th Stimmen (absolut)
                th Stimmen (relativ)
                th Änderung zum Vorjahr
            tbody
                each row in data.second
                    if row.votesabs > 0
                        tr
                            td= row.p_name + ' (' + row.p_shorthand + ')'
                            td= row.votesabs
                            td= Math.round(row.votesrel * 10000) / 100 + '%'
                            td(class= row.delta > 0 ? 'green' : (row.delta < 0 ? 'red' : ''))= row.delta ? Math.round(row.delta * 10000) / 100 + ' %' : 'N/A'
