extends base

block content
  h2= title
  each wks, i in data
    if wks
        div.fsgroup
            a(name=i)
            h3= data[i][0].fs_name
            table.wahlkreise
                thead
                    tr
                        th #
                        th Wahlkreis
                tbody
                    each wk in wks
                        tr
                            td
                                a(href='/wahlkreise/' + year + '/' + wk.wknr)
                                    span= wk.wknr
                            td
                                a(href='/wahlkreise/' + year + '/' + wk.wknr)
                                    span= wk.name


